In [10]:
import pickle
with open('../aPascal08/Annotations.txt', mode='r') as h:
    lines = h.read().splitlines()
with open('cache/hex.pickle', mode='rb') as h:
    hex_data = pickle.load(h)
name_id = hex_data['name_id']

In [2]:
import numpy as np
np.set_printoptions(threshold=np.nan, linewidth=np.nan)
co_occur = np.zeros((20, 64), dtype=int)

In [4]:
filenames = []
labels = []
boxes = []
attributes = []
for l in lines:
    tokens = l.split(' ')
    filenames.append(tokens[0])
    label = name_id[tokens[1]]
    labels.append(label)
    boxes.append(tuple(map(int, tokens[2:6])))
    attr = tuple(map(int, tokens[6:]))
    attributes.append(attr)
    co_occur[label] += attr
objs = list(zip(filenames, labels, boxes, attributes))

In [5]:
co_occur[:5, :]

array([[ 170,    0,  146,    0,    0,  288,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,  144,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,   52,   58,  272,  108,    0,   22,    0,    0,   22,   86,    0,    0],
       [ 536,  858,    0,    0,    0, 1090,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,  890, 1518, 1032,  552,    0,    0,    0,    0,    0,    0,    0,    0,    0,  370,  456,  956,  694,    0,    0,    0,    0,    0,  276,    0,    0],
       [ 150,  280,   42,    0,    0,  316,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,  142,  410,  400,  362,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,   14,  148,  430,    0,    0,    0,    0,    0,    0,    0,   60],
       [   0,    0,    0,  980,   84,  368,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,  806,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,   66,  296,    0,    0,    0,  752,    0,    0,  358,  416,    0,    0],
       [   0,    0,    0,  656,   62,  264,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,  770,  238,  442,  746,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,  814,    0]])

In [7]:
import pandas as pd
df = pd.DataFrame(objs, columns=['filename', 'label', 'box', 'attributes'])
df.head()

,filename,label,box,attributes
0,2008_000008.jpg,14,"(54, 87, 471, 419)","(0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, ..."
1,2008_000008.jpg,19,"(158, 44, 289, 166)","(0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, ..."
2,2008_000015.jpg,3,"(270, 1, 377, 175)","(0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,2008_000015.jpg,3,"(57, 1, 164, 149)","(0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,2008_000019.jpg,16,"(139, 2, 371, 196)","(0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, ..."

In [9]:
import random
df_person = df[df['label'] == 19]
df_no_person = df.drop(df_person.index)
person_sample = df.ix[random.sample(list(df_person.index), 1100)]
df = pd.concat([df_no_person, person_sample], ignore_index=True)

In [12]:
# hierarhcical relabel
id_hls = hex_data['id_hierarchical_labels'][:20]  # id_hls for id_hierarchical_labels, leaf nodes only
id_fh, id_iph = zip(*map(lambda x: sorted(x, key=len, reverse=True)[:2], id_hls))

In [14]:
id_iph

((20, 21),
 (20, 21),
 (20, 21),
 (20,),
 (20,),
 (20,),
 (22, 23),
 (22, 23),
 (22, 23),
 (22, 23),
 (22, 23),
 (22,),
 (22,),
 (24, 25),
 (24, 25),
 (24, 25),
 (24, 26),
 (24, 26),
 (24, 26),
 (24,))

In [11]:
from sklearn.cross_validation import train_test_split
df_train_val, df_test = train_test_split(df, test_size=0.2)
df_train, df_val = train_test_split(df_train_val, test_size=0.25)